@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .nextui-input label {
    background: customGrey; /* Use your custom Tailwind color name */
  }
}
/* Tailwind-based Custom DatePicker styles */
.custom-tailwind-datepicker .react-datepicker__header {
  background-color: #374151; /* Tailwind 'gray-700' background */
  border-bottom: 1px solid #4b5563; /* Tailwind 'gray-600' border */
}

.custom-tailwind-datepicker .react-datepicker__day--selected,
.custom-tailwind-datepicker .react-datepicker__day--keyboard-selected {
  background-color: #4f46e5; /* Tailwind 'indigo-600' background */
  color: white;
  border-radius: 9999px; /* Rounded full */
}

.custom-tailwind-datepicker .react-datepicker__day:hover {
  background-color: #6366f1; /* Tailwind 'indigo-400' background */
}

.custom-tailwind-datepicker .react-datepicker__day--today {
  font-weight: bold;
  color: #a5b4fc; /* Tailwind 'indigo-300' text */
}

.custom-tailwind-datepicker .react-datepicker__current-month {
  color: #e5e7eb; /* Tailwind 'gray-300' text */
}

.custom-tailwind-datepicker .react-datepicker__navigation-icon::before {
  border-color: #9ca3af; /* Tailwind 'gray-400' arrow color */
}

.custom-tailwind-datepicker .react-datepicker__month-container {
  background-color: #1f2937; /* Tailwind 'gray-800' background */
}
